.row
  .col.s12
    = form_for @blog do |f|
      .row
        = f.text_area :content ,class: "input-field col s8 offset-s2",placeholder: 'content', size: "100*50"
      =f.submit 'Submit', class: 'waves-effect waves-light btn col s2 offset-s5'