
-# <body>
-#   <nav class="light-blue">
-#     <div class="nav-wrapper">
-#       <a href="#" class="brand-logo">miniApp</a>
-#       <ul id="nav-mobile" class="right hide-on-med-and-down">
-#         <li><a href="sass.html">Sign_in</a></li>
-#         <li><a href="badges.html">Sign_out</a></li>
-#         <li><a href="collapsible.html">New</a></li>
-#       </ul>
-#     </div>
-#   </nav>
%nav.light-blue
  .nav-wrapper
    %a.brand-logo{:href => "#"} miniApp
    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        %a{:href => "#"} Sign_in
      %li
        %a{:href => "#"} Sign_out
      %li
        = link_to 'New',new_blog_path

-# <h1>Hello World</h1>
-# <!-- card -->
-# <div class="row">
-#   <div class="col s12 m6 ">
-#     <div class="card teal">
-#       <div class="card-content white-text">
-#         <span class="card-title">Card Title</span>
-#         <p>I am a very simple card. I am good at containing small bits of information.
-#         I am convenient because I require little markup to use effectively.</p>
-#       </div>
-#       <div class="card-action">
-#         <a href="#">This is a link</a>
-#         <a href="#">This is a link</a>
-#       </div>
-#     </div>
-#   </div>
-# </div>
.row
  .col.s12.m6
    - @blogs.each do |blog|
      .card.teal
        %p
          = blog.content
        .card-action
          %a{:href => "#"} Show
          %a{:href => "#"} Edit
          %a{:href => "#"} Delete